footer {
  width: 100%;
  background-color: #62023c;
}

.footer {
  width: 65%;
  margin: auto 16%;
  color: #fff;
  display: flex;
  justify-content: space-around;
}

.footer p {
  padding: 0.7% 0 !important;
  font-weight: 200;
  font-size: 1em;
}

.footer p a {
  color: #fff;
}