header {
  width: 100%;
  padding-top: 0;
  overflow: hidden;
  margin-top: -1.4%;
  position: fixed;
}

.header-top {
  background-color: #a29160;
  height: 48px !important;
}

.header-top ul li {
  display: inline-block;
  padding: 0.8em 0.6em;
}

.header-top ul li a {
  color: #62023c;
  color: #fff;
  font-size: 1.4em;
  float: left;
}

.text-title-small a {
  font-family: 'Parisienne' !important;
  color: #62023c;
  font-size: 2.6em !important;
  font-weight: bold;
}

.nav-container {
  height: 150px;
  background-color: #fff;
}

.header-bottom {
  width: 80%;
  margin: 0% auto 4% 16% !important;
  height: 100px;
  padding-top: 2.7%;
}

.header-bottom li {
  display: inline-block;
}

.header-bottom li a {
  color: #62023c;
  list-style: none;
  text-decoration: none;
  padding: 1.6em;
  font-size: 1.1em;
}