/*----header-------------*/
header {
  width: 100%;
  padding-top: 0;
  overflow: hidden;
  margin-top: -1.4%;
  position: fixed;
}

.header-top {
  background-color: #a29160;
  height: 48px !important;
}

.header-top ul li {
  display: inline-block;
  padding: 0.8em 0.6em;
}

.header-top ul li a {
  color: #62023c;
  color: #fff;
  font-size: 1.4em;
  float: left;
}

.text-title-small a {
  font-family: 'Parisienne' !important;
  color: #62023c;
  font-size: 2.6em !important;
  font-weight: bold;
}

.nav-container {
  height: 150px;
  background-color: #fff;
}

.header-bottom {
  width: 80%;
  margin: 0% auto 4% 16% !important;
  height: 100px;
  padding-top: 2.7%;
}

.header-bottom li {
  display: inline-block;
}

.header-bottom li a {
  color: #62023c;
  list-style: none;
  text-decoration: none;
  padding: 1.6em;
  font-size: 1.1em;
}

/*---------------MENU--------------------------*/
.section-menu {
  position: relative;
  top: 170px;
}

.menu-title {
  height: 60x;
  background-color: #fff;
  display: flex;
  justify-content: center;
}

.menu-title h3 {
  color: #62023c;
  font-weight: bold !important;
  text-transform: uppercase;
  text-decoration: none !important;
  font-size: 2.8em;
  font-weight: 700;
  font-family: 'Archivo Black';
  letter-spacing: 0.3ch;
}

.sub-menu h4,
.sub-menu p {
  display: flex;
  justify-content: center;
}

.empty-line {
  display: flex;
  justify-content: center;
  content: "";
  width: 2.2%;
  height: 2px;
  background-color: #fff;
  margin-left: 49%;
  margin-top: -1%;
}

.sub-menu h4 {
  padding-top: 2%;
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: 0.3ch;
  color: rgb(176, 161, 118);
  font-family: 'Martel Sans' !important;
}

.sub-menu p {
  padding-top: -1%;
  margin-top: -2%;
  color: #fff;
  font-size: 1em;

}

.section-menu {
  background-color: #60003a;
}

/*--food-details-container----------*/
.container-starter,
.container-Burrito {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;
  justify-content: center;
  margin: 3% 25%;
}

.container-starter>div,
.container-Burrito>div {
  width: 40%;
  height: 20vh;
  margin: 10px;
  text-align: center;
}

.icon-spicy {
  color: #fff;
  font-size: 1.2em;
}

.icon-special {
  color: rgb(176, 161, 118);
  font-size: 1.2em;
}

.special-item {
  padding: 2%;
}

.container-starter h5,
.container-Burrito h5 {
  color: rgb(176, 161, 118);
  font-size: 1.1em;
  font-family: 'Roboto Condensed';
  font-weight: lighter;
}

.container-starter p,
.container-Burrito p {
  color: #fff;
  font-size: 1em;
  word-spacing: 2px;
  line-height: 150%;
}

.price {
  color: rgb(176, 161, 118);
  font-size: 1.1em;
}

.food-desc {
  padding: 0% 8%;
}

.veg {
  font-weight: bold;
  font-size: 1.1em;
  color: #fff;
}

.ion-bonfire {
  color: #fff;
  font-size: 20px;
  color: #fff;
}


/*---------------FOOTER--------------*/
footer {
  width: 100%;
  background-color: #60003a;
}

.footer {
  width: 65%;
  margin: auto 21%;
  color: #fff;
  display: flex;
  justify-content: space-around;
}

.footer p {
  padding: 0.7% 0 !important;
  font-weight: 200;
  font-size: 1em;
}

.footer p a {
  color: #fff;
}