body
{
    background-color:#62023c;
    
}
.order-details-container
{
    display:flex;
    flex-direction: row;
    width: 80%;
    margin: 15% 5%;
    height: 80vh;
    padding: 9% 5%;
    justify-content: space-between;
    border :1px solid lightgray;
    border-left:1px solid transparent !important;
}
.order-details-container >div
{
    width:45%;
    justify-content: space-between;
    border: 2px solid lightgray;
    
}
.order-details-container__order-food 
{
    
}
.order-details-container__order-food >div
{
    
   
}

.order-details-container__order-location
{
}
.order-food__my-order
{
    margin-top:10%;
    height: 8vh;
    font-size:1.4em;
    border-bottom:1px solid lightgray;
    color:#fff;
}
.order-food__my-order :first-child
{
    float: left;
    padding:0% 3%;
}
.order-food__my-order :last-child
{
    float: right;
    padding:0% 3%;
}
.order-details-container__location-map
{
    background-image: url(../images/madre-map.jpg);
    background-size: cover;
    height:45vh;
    border-bottom:2px solid lightgray;
}

.order-food__my-food
{
    display: flex;
    flex-direction: row;
    padding:5%;
    width:80%;
    color:#fff;
}
.order-food__my-food >div
{
    font-size:1.7em;
    width:100%;
    height:2vh;
    padding:5% 0% 10% 0%;
    border-top:1px solid lightgrey;
    border-bottom:  1px solid lightgrey;
}
.order-food__total
{
    padding:5% 0%;
    width:100%;
    height:5vh;
    border:1px solid lightgrey;
}
.order-food__total :first-child
{
    float: left;
    padding:0% 3%;
    font-size: 1.7em;
    color:#fff;
}
.order-food__total :last-child
{
    font-size:1.7em;
    padding:0% 3%;
    color:#fff;
    float : right;
}

