
.order-box-container {
  display: flex;
  flex-direction: row;
  width: 60%;
  margin: auto 20%;
  height: 120vh;
  padding-top: 10%;
}

.order-box-left {
  width: 18%;
  margin-left: 0%;
  border: 1px solid lightgray;
}

.order-home-container {
  width: 60%;
  justify-content: center;
  text-align: center;
  border: 1px solid lightgray;
}

.add-cart-container {
  width: 27%;
  justify-content: center;
  text-align: center;
  border: 1px solid lightgray;
}

/*---customer-guest---left---style-*/

.section-menu {
  position: relative;
  top: 170px;
}

.menu-title {

  background-color: #fff;
  display: flex;
  justify-content: center;
}

.menu-title h3 {
  color: #62023c;
  font-weight: bold !important;
  text-transform: uppercase;
  text-decoration: none !important;
  font-size: 2.8em;
  font-weight: 700;
  font-family: 'Archivo Black';
  letter-spacing: 0.3ch;
}

.order-body-container {
  background-color: #62023c;
}

.customer-guest,
.lunch-menu {
  padding: 8% 2% 8% 8%;
  text-align: center;
  border: 1px solid lightgray;
  color: #fff;
  font-size: 1em;
}

.lunch-menu {
  background-color: rgba(176, 161, 118, 0.1);
}

.ion-chevron-up {
  color: rgb(176, 161, 118);
  font-size: 0.8em;

}

.menu-options {
  list-style: none;
  padding-left: 0 !important;
}

.menu-options :hover {
  background-color: rgba(176, 161, 118, 0.1);
  color: rgb(176, 161, 118);
}

.menu-options li {
  padding: 9%;
  text-align: center;
  color: #fff;
  font-size: 1em;
}

.menu-options a {
  align-items: center;
  font-size: 17px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;

}

.menu-options li:hover,
.menu-options li:active {
  align-items: center;
  font-size: 12px;
  color: rgb(176, 161, 118);
  text-decoration: none;
  border-left: 8px solid rgb(176, 161, 118);

}


/*-----middle ----style---*/
.launch-text {
  font-size: 1.7em;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.3ch;

}

.add-item-launch {
  margin: 7% 5% auto !important;
}

.empty-line {
  content: "";
  justify-content: center;
  width: 70%;
  height: 0.9px;
  background-color: lightgray;
  margin: 8% 13%;
}

/*---------------------------add-cart---------------------------------*/
.myorder,
.subtotal {
  float: left;
  margin-top: -4%;
  color: #fff;

}

.ordered-items,
.subtotal-result {
  float: right;
  margin-top: -4%;
  color: #fff;
}

.total-orders {
  border-bottom: 1px solid lightgray;
  padding: 11%;
  color: #fff;

}

.sub-total-items {
  padding: 0% 10% 14% 10%;
  border-bottom: 1px solid lightgray;
}

.add-card-shop-details {
  padding: 20%;
}

.ion-bag {
  font-size: 4.5em;
  color: lightgray;
}

.cart-text {
  color: lightgray;
}

.empty-line-card {
  content: "";
  width: 140%;
  height: 2px;
  background-color: lightgray;
  margin-left: -20%;
  margin-top: 10%;
}

.special-request {
  color: #fff;
  text-align: left;
  margin: 5% auto;
}

.ion-plus {
  color: rgb(176, 161, 118);
  padding: 0% 8%;
  margin: 5% auto;
  font-size: 0.9em;
}

.empty-line-subtotal {
  content: "";
  width: 80%;
  height: 1px;
  background-color: lightgray;
  margin-top: 8%;
  margin-left: 10%;
}

.order-status {
  color: lightgray;
}

/*----botton-order-now-------*/
.order-now-botton {
  position: static;
  cursor: pointer;
  margin: 4% 2vh;
  padding: 1% 5%;
  width: 75%;
  height: 5vh;
  background-color: rgb(176, 161, 118);
  color: #62023c;
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}


.order-now-botton i {
  padding: 0 2vh;
  font-size: 1.1em;
}


/*----------Food--type--style---------------*/

.sub-menu h4 {
  color: #fff;
  font-weight: bold !important;
  text-transform: uppercase;
  text-decoration: none !important;
  font-size: 1.9em;
  font-weight: 300;
  font-family: 'Archivo Black';
  letter-spacing: 0.3ch;
}

.sub-menu h4,
.sub-menu p {
  display: flex;
  justify-content: center;
}

.sub-menu p {
  color: #fff;
  padding: 0% 4%;
}

.food-Items {
  padding: 1% 10% 0% 10%;
}

.food-Items h5 {
  float: left;
  color: #fff;
  font-size: 1em;
  font-family: 'Assistant', sans-serif;
  margin-bottom: -2%;
}

.food-Items span {
  float: right;
  color: #fff;
  padding-top: 6%;
  font-family: 'Assistant', sans-serif;
}

.food-desc {
  color: lightgray;
  justify-content: left;
  padding-top: 0.5px;
  width: 100%;
  margin-top: 15%;
  margin-left: -8%;
}

.empty-Food-line {
  margin: auto 3%;
  width: 95%;
  height: 1px;
  content: "";
  background-color: lightgray;
}

.container-starter>div:hover,
.container-burrito>div:hover {
  background-color: rgba(176, 161, 118, 0.1);
}

.cart-item-conainer__food-name,
.cart-item-conainer__quantity,
.cart-item-container__price-cal
{
  color:#ffff;
}
.cart-item-change-price
{
  color:rgb(176, 161, 118);
}
/*-------------------subtotal--------------------------*/

.online-order-status{
  padding :15% 7%;
  font-size:1.2em;
  border:1px solid lightgrey;
  color:#fff;
}
.online-order-status-desc
{
  float :left;
}
.cart-subtotal
{
  float :right;
}
.ion-ios-minus-outline
{
  color:#fff;
}
.ion-ios-plus-outline
{
  color:lightgrey;
}

.cart-item-list-container
{
  padding :3% 2%;
}
.ion-plus
{
  color:rgb(176, 161, 118);
  font-size:1.3em;
}
.cart-spcl-req
{
  color:#fff;
  font-size:1.2em;
}
