.order-pop-up {
  position: relative;
  width: 100%;

}


.pop-up-container {
  width: fit-content;
  position: absolute;
  height: 45vh;
  background-color: #7a2b56;
  font: normal normal normal 15px/1.4em sans-serif !important;
  margin: 3% 33% 3% 33%;
  padding: 2% 2% 0% 2%;
}

/**-----------------btn-----close--------------------**/

.btn-close {
  position: absolute;
  top: -13px;
  right: -13px;
  z-index: 10;
  cursor: pointer;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  line-height: 26px;
  background: rgb(176, 161, 118);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.35);
  border: none;
  padding: 0;
}

.btn-close i {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-close:hover,
.btn-close:active {
  background-color: #bcad8d;
  color: #7a2b56;
}

/**--------------btn-food----details----------------**/

.food-details-name,
.food-details-price,
.food-details-description,
.quantity-add-order,
.btn-addComment {
  padding-bottom: 5%;
}

.food-details-name {
  font-size: 24px !important;
  text-transform: uppercase;
  color: white;
}

.food-details-description {
  font-size: 16px !important;
  line-height: 20px !important;
  padding: 0 22px 31px 0;
  color: #e4d3dc;
}

.food-details-price {
  display: block;
  font-size: 18px !important;
  line-height: 21px !important;
  color: rgb(255, 255, 255);
  padding-top: 20px;
}

/**-------request--box ---style----------------**/

.requests {
  margin-bottom: 35px;
}

.isRequest {
  font-size: 18px !important;
  line-height: 21px !important;
  border-bottom: 1px solid;
  border-color: rgba(255, 255, 255, 0.30000000000000004) !important;
  padding-bottom: 13px;
  margin-bottom: 15px;
  color: white;
}

.btn-addComment {
  color: rgb(176, 161, 118) !important;
  line-height: 21px !important;
  border-style: none;
  background-color: transparent;
  text-align: left;
  cursor: pointer;

}

.btn-addComment span {
  font-size: 14px !important;
  line-height: 21px !important;
}

.commentArea {
  display: none;
}

.commentArea textarea {
  width: 98%;
  resize: none;
  padding: 2px 3px;
  color: white;
  row-gap: 2;
  background-color: transparent;
  box-shadow: 0px 0px -1px lightgray;
}

.commentArea .commentCaption {
  display: block;
  font-size: 11px !important;
  color: white;
}

.commentArea textarea::placeholder {
  font-size: 15px !important;
  line-height: 21px !important;
  color: white;
  letter-spacing: 0ch;
  word-spacing: -0.5ch;
  white-space: nowrap;
}

/**---------change---quantity------------------**/
.pop-up-quantity {
  display: flex;
  align-items: center;
  color: white;
}

.pop-up-quantity button {
  border-style: none;
  background-color: transparent;
  color: rgb(176, 161, 118) !important;
  font-size: 24px !important;
}

.quantity-count {
  font-size: 18px !important;
  width: 30px;
  text-align: center;
}

/**-------------add--to---order--------------**/
.quantity-add-order {
  margin: 10px 15% 5% 5%;
  text-align: center;
  position: relative;
  background-color: rgb(176, 161, 118);
  border-style: none;
  font-size: 16px !important;
  line-height: 21px !important;
  color: rgb(95, 0, 56);
  width: 88%;
  padding: 15px;
  cursor: pointer;
}

.quantity-add-order:hover,
.quantity-add-order:active {
  background-color: #b19982;
  color: #7c3255;
}

.quantity-add-order:hover i,
.quantity-add-order:active i {
  color: rgb(95, 0, 56);
}