.reservation-container
{
    display: flex;
    flex-wrap: wrap;
   
    padding-top:15%;
    
}
.reservation-container >div{
    width:80%;
    margin:0% 10%;
}
.reservation-container-start,
.reservation-container-middle,
.reservation-container-last
{
    display: flex;
    flex-direction: row;

}

.reservation-container__book-now,
.reservation-container__our-location-time,
.reservation-container__our-location-map,
.reservation-container-contact-us
{
    border :1px solid lightgray;
}
.reservation-container-start >div,
.reservation-container-middle >div,
.reservation-container-last >div
{
    width:50%;

}
.reservation-container-start >div
{
    height: 100vh;
}
.reservation-container-middle >div,
.reservation-container-last >div
{
    height:80vh !important;
}
.reservation-container__book-now
{
    background-color: #fff;
}
.reservation-container__our-location-time,
.reservation-container-contact-us
{
    background-color: lightgrey;
}

.book-now__form 
{
    display: flex;
    flex-direction:column;
    margin-top:15%;
    
}
.book-now__form input
{

    width:80%;
    height: 8vh;
    margin:3% 10%;
    background-color:green !important;
    text-align: left !important;
    font-size:1.1em;
}
.book-now__form :last-child
{
    text-decoration: none;
    width:80%;
    height: 8vh;
    margin:3% 10%;
    background-color: #62023c;
    padding-top:-6%;
    text-align: center;
    font-size:1.2em;
    color:#fff;
}
.book-now__title
{
    width:25%;
     margin:10% 38% auto 40%;
    font-size: 2.1em;
    font-weight: 300;
    line-height: 140%;
    letter-spacing: 0.2ch;
    text-align: center;
    color:#62023c;
}
.book-address
{
    text-align: center;
    padding:4% 20% 2% 30%;
    color:#62023c;
    font-size:1.1em;
}
.book-time
{
    text-align: center;
    color:#62023c;
    font-size:1.3em;
    line-height: 150%;
    padding-left:12% !important;

}
.reservation-container__our-location-map1
{
    background-image:url(../images/madre-map.jpg);
    background-size: cover;
    width:100%;
}

.reservation-container-contact-us__forms
{
    display:flex;
    width: 80%;
   
}
.reservation-container-contact-us__forms >div
{
    margin:1% 2%;
    padding-left:20%;
    width:80%;
    justify-content: space-between;
    flex-direction: row;
}
#time,#party-size
{
    background-color: lightgrey;
}
.contact-us__input input
{
    width:150%;
    height:4vh;
    border:1px solid black;
    color:black;
}
.contact-us__Desc
{
    width:400%;
}
.reservation-container
{
    background-image:url(../images/reservation.jpg);
    background-size: cover;
    height:100vh;
}
.btn-submit
{
    background-color:#62023c;
    color:#fff;
    padding:2% 10%;
    margin-left:60%;
    margin-top:4%;
}
textarea
{
    resize:none;
}


