
.container-text__hero-text  {
    margin: 0 0 20px 0;
    color: #fff;
    font-size: 820%;
    font-family: 'Parisienne' !important;
    font-weight: bold;
}

.main-section  {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.3),
     rgba(0, 0, 0, 0.3)), url(../images/main-background-img.webp);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    padding-top: 280px;
    padding-bottom: 170px;
  }
.main-section__container-text {
    padding: 10%;
}
.main-section__container-menu {
    margin-top: -6%;
}
.main-section__container-menu a {
    text-decoration: none;
    color: #fff;
    text-transform: none;
    border: 2px solid #fff;
    padding: 16px 63px;
    margin: 5px;
    font-weight: 0.9em;
    font-size: 1em;
    margin-top: -5%;
}

.main-section__container-menu a:hover,
.main-section__container-menu a:active {
    text-decoration: none;
    color: #62023c;
    background-color: #fff;
    text-transform: none;
    border: 2px solid rgb(179, 171, 171);
    padding: 16px 63px;
    margin-top: -2%;
    font-weight: 0.9em;
    font-size: 1em;
}
.container-text__main-text-desc {
    text-transform: uppercase;
    font: normal normal normal 66px/1.1em lulo-clean-w01-one-bold, sans-serif;
    font-weight: 800;
    font-size: 2.5em;
    letter-spacing: 0.9ch;
    line-height:170%;
    padding-top: 0;
    margin-top: -8%;
}
